* {
        margin: 0;
        padding: 0;
        outline: none;
    }

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

.login-container {
    color: #ffffff;
    font-size: 1.5em;
    padding: 30px;
    word-break: keep-all;
    width: 492px;
}

.login-panel {
    position: absolute;
    max-width: 80% !important;
    background-color: #ffffff;
    border: 1px solid #d6f4f9;
    -moz-box-shadow: 0 -5px 10px 1px rgba(139, 223, 226, 0.57);
    -webkit-box-shadow: 0 -5px 10px 1px rgba(61, 130, 219, 0.57);
    box-shadow: 0 -5px 10px 1px rgba(23, 23, 23, 0.57);
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    overflow: hidden;
    z-index: 20000;
}

.login-dialog-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
}

.ourrent-logo {
    display: block;
    width: 100%;
    height: 65px;
}

.ourrent-logo img {
    display: block;
    margin: 0 auto;
    height: 65px;
}

.go-register-btn,
.ourrent-slogen {
    margin-top: 18px;
    color: #0084ff;
    font-size: 18px;
    text-align: center;
}

.login-button {
    width: 372px;
    margin: 30px 30px 5px 30px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
}

.login-input {
    width: 372px;
    margin: 30px 30px 5px 30px;
    font-size: 14px;
    border-right: none;
    border-left: none;
    border-top: none;
    box-shadow: none !important;
}

.control-buttons {
    width: 372px;
    margin: 20px 30px 5px 30px;
    font-size: 14px;
}

.control-buttons #forget-password {
    color: #8590a6;
}

.control-buttons #remember-password {
    color: #175199;
}

.control-buttons #forget-password:hover {
    color: gray;
    cursor: pointer;
}

.control-buttons #remember-password:hover {
    color: gray;
    cursor: pointer;
}
.control-buttons #to-register{
    color: #1a1a1a;
    margin-top: 20px;
    margin-left: 133px;
}
.go-register{
    background-color: #f6f6f6;
    height: 58px;
    line-height: 58px;
    border-top: 1px solid #ebebeb;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.go-register-btn {
    font-size: 14px;

}
